<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou a alteração da sua senha de acesso ao APP. Clique no Link abaixo para recuperar sua senha:</p>

<p><%= link_to 'Recuperar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a alteração da sua senha, por favor não ignore esse mail, entre em sua conta e faça alterações para maior segurança.</p>
<p>Sua senha não será alterada sem que o link seja aberto.</p>
